@import '../../styles/sass/constants';

.posts {


  & h1 {
    margin: 64px 0;
    height: 96px;
    border-bottom: solid 1px rgba($color-dark-s, 0.4);
    color: $color-black;
  }
}

.buttons {
  margin: 64px 0;
  display: flex;
  justify-content: center;
  gap: 17px;
}

.button {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  color: $color-black;
  transition: color 0.3s;
  background-color: transparent;
  border: none;


  &:enabled:hover {
    color: $color-secondary;
    cursor: pointer;
  }

  &:disabled {
    color: $color-dark-s;
  }
}