$color-white: #ffffff;
$color-light-s: #FBF6EA;
$color-light-m: #F4F0F8;
$color-light-l: #F4F4F4;
$color-dark-s: #6D6E76;
$color-dark-l: #4C4C4C;
$color-black: #232536;
$color-primary: #FFD050;
$color-primary-hover: #EDC14A;
$color-secondary: #592EA9;
$color-icon: #282938;
$color-search-border: #9497A1;
$solor-search-input: #292D33;