@import '../../../styles/sass/constants';

.form {
  margin-top: 32px;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;

  &__error {
    height: 21px;
    padding-left: 8px;
    font-size: 16px;
    line-height: 21px;
    color: red;
  }
}

.input, 
.textarea, 
.select {
  padding: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $color-black;
  border: solid 1px rgba($color-dark-s, 0.5);
  outline: none;

  &::placeholder {
    color: $color-black;
    opacity: 0.9;
  }
}

.textarea {
  height: 144px;
  resize: none;

  &::placeholder {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: $color-black;
    opacity: 1;
  }
}

.select {
  width: 100%;
  background-color: $color-white;
  appearance: none;

  &__wrapper {
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  top: 36px;
  right: 63px;
  transform: translate(-50%);
  pointer-events: none;
}