@import '../../styles/sass/constants';

.post__title {
  width: 100%;
  max-width: 768px;
  margin: 128px auto  64px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 24px;
}

.post{
  &__wrapper {
    width: 32%;
    height: 100%;
    max-width: 405px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-light-s;
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

.title {
  margin-bottom: 10px;
  color: $color-black;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
  }
}

.username {
  color: $color-secondary;
}

.image__wrapper {
  width: 100%;
  height: auto;

  & img {
    width: 100%;
    height: 100%;
  }
}

.single-post {
  width: 100%;
  max-width: 843px;
  margin: 0 auto;

  & h2 {
    margin: 48px 0 16px;
  }

  & ul {
    margin: 24px 0;
  }
}

.other {
  margin-top: 128px;

  & h2 {
    color: #000000;
  }

  &__wrapper {
    padding: 48px 0;
    display: flex;
    align-items: center;
    gap: 32px;
    border-bottom: solid 1px rgba($color-dark-s, 0.4);
  }
}