@import '../../styles/sass/constants';

.footer {
  padding: 59px 0 56px 0;
  background-color: $color-black;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.title {
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0;
  color: $color-white;
}

.form {
  margin-top: 48px;
  padding: 80px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color-white, 0.05);

  &__title {
    width: 48%;
    max-width: 562px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: $color-white;
  }

  &__fields {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__input {
    padding: 14px 25px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $color-dark-s;
    background-color: transparent;
    border: solid 1px $color-dark-l;

    &.error {
      outline-color: red;
    }
  }
}

.contact {
  margin-top: 48px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  &__info {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba($color-white, 0.7);
  }
}