@import '../../styles/sass/constants';

.special {
  margin-top: 128px;
  position: relative;

  @media screen and (max-width: 1144px) {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 12px;
  }

  &__post {
    width: 55%;
    padding: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
    background-color: $color-white;

    @media screen and (max-width: 1144px) {
      width: 100%;
      position: static;
    }
  }

  & h2 {
    margin-top: 8px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -2px;
  }

  & button {
    margin-top: 16px;
  }
}

.image {
  width: 100%;
  max-width: 848px;
  height: 705px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media screen and (max-width: 1144px) {
    height: 460px;
  }

  & img {
    height: 100%;
    width: auto;
  }
}